*{
    padding: 0;
    margin: 0;
}


body {
    font-family: "Work Sans", sans-serif;
    background-color: #F8F8FD;
    overflow-y: scroll;
    
}

.top-shelf {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  
  
}
    
.about-us {
    display: flex;
    width: 500px;
    gap: 25px;
    justify-content: end;
    margin-left: 20%;
    margin-right: 1%;
}


 .purple-button {
    background-color:#8D6CFA;
    border-radius: 25px;
    text-align: center;
    width: 100px;
    font-size: small;
    align-content: center;  
    padding: 15px;
}

.purple-button > a {
    color: white;
}

a {
    text-decoration: none;
    align-content: center;
    font-weight: 200;
    font-family: "Work Sans", sans-serif;
    color: black; 
}

#first-img{
    height: 40px;
}

.the-use {
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.the-use  h1 {
    text-transform: capitalize;
    font-family: "Work Sans", sans-serif;
    font-size: 50px;
}

span, #colour{
    display: block;
}

#colour{
    color: #8D6CFA;
}

#first-text{
    width: 50%;
}
#first-text > h2 {
    color:  #8B82A7;
    font-family: "Work Sans", sans-serif;
    font-size: 23px;
    font-weight: 300;
     
}

#input-stuff {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    gap: 10px;
    justify-content: left;
}
input {
    width: 55%;
    border: 1px solid #DED7F6;
    border-radius: 7px;
    font-family: "Work Sans", sans-serif;
    padding-left: 15px;
}

#white-iphones {
    position: absolute;
    z-index: inherit;
    right: auto;
    width: 100%;
    height: 100% ;
}   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                

#circle-grad {
    background: linear-gradient(180deg, rgba(238, 233, 255, 0) 23.96%, #8D6DF9 100%);
    height: 92%;
    width: 100%;
    border-radius: 50%;
}

#phone-grad {
    position: relative;
    width: 40%;
    right: 0;
    
}

#core {
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
#core > h2 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #16054E;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 45px;
}

#assets {
    margin-top:95px;
    background: #9070F6;
    width: 100%;
    height: 435px;
    border-radius: 20px;
    color: white;
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: space-between;
}

#second-text {
    padding-left: 45px;
    font-size: x-large;
    line-height: 35px; 
    align-content: center;   
}

.twin-box {
    font-size: large; 
    width: 85%;
}

#twin-box {
    display: flex;
    font-family: "Work Sans", sans-serif;
    font-size: 35px;
    color: #8B82A7;
    padding-top: 40px;
    justify-content: space-between;
}

#twin-box1 {
    padding: 40px 0 0 45px;
    height: 508px;
    width: 45%;
    background-color: white;
    border-radius: 20px;
    line-height: 35px;
}

#stats {
    height: 280px;
}

#twin-box2 {
    padding: 40px 0 0 45px;
    height: 508px;
    width: 45%;
    background-color:#4ECC4E;
    color: white;
    border-radius: 20px;
    line-height: 35px;
}

#emoji {
    height: 280px;
}

#strips{
    margin: 10% 0 10% 0;
}
#strips>img {
    width: 100%;
    height: auto;
}

#investing-inus {
    font-family: "Work Sans", sans-serif;
}

#investing-inus > h2 {
    text-align: center; 
    font-size: 45px; 
    font-weight: 700; 
    width: 45%;
    margin: auto; 
    line-height: 60px;
}

#investing-inus span{
    display: inline-flex; 
    color: #8D6DF9;
    text-transform: capitalize;
}

#three-vantages{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}

.three-vantages{
    position: relative;
    text-align: center;
    width: 300px;
    height: auto;
    background-color: rgb(228, 228, 228);
    border-radius: 5%;
    line-height: 20px;
    
}

#diligent > img {
    position: absolute;
    right: 25%;
    bottom: 75%;
    z-index: 1;
}

#regulation > img {
    position: absolute;
    right: 25%;
    bottom: 75%;
    z-index: 1;
}

#accessible > img {
    position: absolute;
    right: 25%;
    bottom: 75%;
    z-index: 1;
}

.three-vantages > h3 {
    color: #16054E;
    width: 200px;
    margin: auto;
    padding-top: 35%;
}

.three-vantages > p{
    width: 250px;
    margin: auto;
    padding-top: 30px;
}

#intelligence {
    position: relative;
    margin-top: 200px;
    height: 600px;
    font-family: "Work Sans", sans-serif;
}
#wavy-backdrop {
    width: 100%;
    height: 100%;
}

#intelligence-content {
    position: absolute;
    z-index: 1;
    color: #fff;
    display: flex;
    height: 590px;
}

#intelligence-content > div {
    padding: 50px 20px 20px 60px;
    line-height: 30px;
    width: 50%;
}

#intelligence-content > p {
    font-size: 20px; 
    width: 390px;
}

#photo-div > img{
    padding-top: 50px;
}

#more {

    padding-left: 70px;
    padding-right: 20px;
    padding-top: 120px;
}

#more > h2 {
    color: #16054E;
    font-size: 300%; 
    text-align: center
}

#more > p {
    color: #8B82A7;
    font-size: 150%;
    text-align: center;
}

#building{
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

#building-text, #updated-text {
    align-content: center;
    font-size: large;
    line-height: 35px;
}

.img-para p {
    text-align: left;
    color: #8B82A7;
}

.img-para  h2 {
    color: #060125;
    font-size: 40px;
    margin-bottom: 30px;
}

#updated {
    margin-top: 100px;
    display: flex;
    gap: 80px;
    margin-bottom: 150px;
    
}

.img-para img {
    height: 500px;

}

#your-time {
    background-color: #EAF9EA;
    position: relative;
    height: 700px;
}

#your-time-content {
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 50px;
    font-size: xx-large;
    text-transform: capitalize;
    line-height: 65px;
    position: absolute;
    z-index: 1;
}

#your-time-content > h2 {
    color: #060125; 
    width: 50%;
}

#your-time > img {
    height: 100%;
    width: 100%;
}

#twin-bx {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#book-block {
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 150px;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

#book-block p {
    color: #8B82A7;
    width: 500px;
}

#book-block h2 {
    color: #060125;
    font-weight: bolder; 
    font-size: 50px;

}

#dabba-city {
    position: relative;
    color: #ffffff;
    margin-top: 110px;
    height: 770px;
}

#dabba-city-content {
    position: absolute;
    z-index: 1;
    font-size: x-large;
    width: 700px;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

#dabba-city-content > .purple-button {
    margin: auto;
}

#dabba-city-content > img {
    height: 100%;
    width: 100%;

}
#the-footer {
    height: 770px;
    background-color: #060125;
    color: #ffffff;
    display: flex;
    padding-left: 70px;
    padding-right: 20px;
    gap: 50px;
}

#the-footer-text {
    align-content: center;
    font-size: xx-large;
    width: 55%;
}

#the-footer-text > h2 {
    width: 540px;
}

#the-footer-text > p {
    font-size: 20px; 
    line-height: 35px; 
    width: 75%;
}

#the-footer-img {
    align-content: center;
}

#the-footer-text > #input-stuff {
    width: 70%;
}

footer {
    background-color: #060125;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: small;
    padding: 0 10px 50px 10px;
}

footer img {
    height: 30px;
}

@media (max-width: 1080px) {
    .about-us {
        display: none;
    }

    #phone-grad {
        display: none;
    }

    *{
        padding-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
    }


    #first-text {
       width: 100%; 
       padding-left: 0;
    }

    #the-footer-img {
        display: none;
    }

    #input-stuff {
        justify-content: left;
        width: auto;
        flex-wrap: nowrap;
        
    }

    #core {
        padding-top: 0;
        margin-top: 0;
    }

    #assets{
        height: 470px;
    }
    #second-text {
        font-size: 120%;
        padding: 10px 20px 20px 20px;
        margin-top: 10px;       
    }
    
    #blind-mf-div {
        height: 50%;
        align-self: flex-end;
        width: 100%;
        text-align: center;
    }

    #blind-mf {
        height: 100%;
        width: auto;
    }
    
    #twin-box {
        flex-direction: column;
        gap: 10px;
    }

    
    #twin-box1 {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 150px;
    }

    .twin-box >div {
        padding: 20px;
        font-size: large;
    }
    #twin-box2 {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 170px;
    }

    .twin-box > img {
        display: none;
    }

    #investing-inus {
        text-align: center;
    }

    #investing-inus > h2 {
        display: inline;
        font-size: xx-large;
    }

    #three-vantages {
        flex-direction: column;
        gap: 100px;
        margin-top: 50px;
    }

    .three-vantages{
        margin: auto;
    }

    #photo-div {
        display: none;
    }

    #intelligence-content > div {
        text-align: center;
        line-height: 35px;
        margin: auto;
        padding: 0; 
        width: 90%;
    }
 
    #intelligence-content > div > .purple-button {
        margin: auto;
        width: auto;
    }

    #intelligence-content > div > p {
        margin: 20px;
    }

    #more {
        padding: 0;
        margin-top: 80px;
    }

    #more h2 {
        color: #16054E;
        font-size: 200%;
        margin: 10px;
    }

    #more p {
        font-size: medium;
    }


    .more-images > img {
        width: 100%;
    }

    .more-content {
        text-align: center;
    }

    .more-content p {
        text-align: center;
    }
    
    #updated {
        flex-direction: column-reverse;
    }

    #your-time-content img {
        display: none;
    }

    #your-time-content {
        text-align: center;
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }

    #your-time-content > h2 {
        width: auto;
    }
     #your-time {
        height: 300px;
    }

    #book-block {
        padding: 0;
        margin: auto;
    } 
    
    #book-block > div {
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
        text-align: center;
    }

    #book-block p {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #book-block .purple-button {
        margin: auto;
    }

    #dabba-city {
        height: 1%;
        margin-bottom: 0;
        margin-top: 50px;
    }
     
    #dabba-city-content {
        width: 100%;
        font-size: small;
        top: 30%;
    }

    #dabba-city-content > .purple-button {
        margin-top: 20px;
        width: 20%;
    }

    #dabba-city > img {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #the-footer {
        padding-left: 0;
        height: 350px;
    }

    #the-footer-text > h2 {
        width: 100%;
        font-size: xx-large;
    }

    #the-footer-text {
        width: 90%;
        margin-left: 10px;
        height: 300px;
        margin-top: 10px;
    }

    #the-footer-text > p {
        width: 100%;
        font-size: medium;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: normal;
    }

    #the-footer-text > #input-stuff {
        width: auto;
    }

    footer{
        font-size: smaller;
        justify-content: space-between;
        height: 350px;
        margin-bottom: 20px;
        padding: 0;
    }

    footer img {
        
        height: 20px;
    }

    footer #social-media{
        height: 0px;
    }

    footer p {
        font-size: xx-small;
    }


}
